
.error{
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}



.error img {
  height: 3rem;
  width: 3rem;
  fill: #694e91;
  transform: translateY(-0.3rem);
}

.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}