.pagination{
  margin-top: auto;
  padding: 0 3.5rem;
}

.pagination::after{
    content: '';
    display: table;
    clear: both;
}

.pagination__btn--prev{
  float: left;
}

.pagination__btn--next{
  float: right;
}

.btn--inline {
  color: #815EB4;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--inline img{
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}


.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover{
  color:#694e91;
  background-color: #f2efee;
}

.btn--inline:focus{
  outline: none;
}